.Sidebar{
    
}
#nested-list-subheader{
    font-size: 30px;
    background-color: #132240;
    font-weight: bolder;
    color : "white";
}

.title_Nav{
    font-size: 30px;
    background-color: #132240;
    font-weight: bolder;
    color : "white";
    margin: 30%;

}