.content-wrapper {
  padding-top: var(--sdds-spacing-element-24);
  padding-bottom: var(--sdds-spacing-element-24);
}

.lead-head {
  margin-bottom: var(--sdds-spacing-element-16);
}

.section-wrapper {
  margin-top: var(--sdds-spacing-element-32);
}

.component-wrapper {
  padding-bottom: var(--sdds-spacing-element-24);
}

.table-container {
  overflow: auto;
  border-radius: 5px;
  /*max-height: 700px;*/ 
  
}

.table-container::-webkit-scrollbar {
  width: 15px;    
         
}

.table-container::-webkit-scrollbar-track {
  background:   #ffffff; 
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);    
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #B0B7C4;    
  
}


table {
  margin: auto;
  text-align: left;  
  border-spacing: 0;
  width: 100%;
  position: relative;
}

table tr td:first-child {
  text-align: left;
 
}

.selectable-row:hover{
  cursor: pointer;
}

.selected-row {
  color: white;
  font-weight: 900;
  background-color: #97999B;
}

td {
  border: 1px solid black;    
  padding: 5px;
  font-size: 20px;
}


th {
  color: #FFFFFF;
  background-color:	#111214f6;
  font-size: 20px;
  border: 1px solid black;
  padding: 1px 0px 1px 5px;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
  z-index: 10;
}

td.fixed-column-cell {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  justify-self: flex-start; /* <-- this is the fix */
  z-index: 11;
}

th.fixed-column-head-cell {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  justify-self: flex-start; /* <-- this is the fix */
  z-index: 12;
}


.wrap-text {
  height: auto;
}

.copy-row-button-cell {
  padding: 15px;
  min-width: 155px;
  width: 155px;
}

.columnTable:hover{
  background-color: #222630e1;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.checkbox-container {
  display: flex;
  /* height: 90px !important; */
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.color-row .color-column{
  background-color: #ff6262;
}

.striped tr:nth-child(even){
  background-color: #5d606860;
}
